.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form_control label {
  margin-bottom: 10px;
}

.form_control input {
  background-color: var(--darkgrey);
  color: var(--yellow);
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--yellow);
  width: 235px;
  height: 40px;
}
