body h1 {
    font-size: 2.5rem;
    color: var(--yellow);
    padding-bottom: 40px;
}

.SpaceBetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
