.logo {
  background-image: url("../assets/logos/logo_customy_white.png");
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginForm span {
  font-size: 1rem;
}

.loginForm span:nth-last-child(1) {
  text-decoration: underline;
  cursor: pointer;
  color: var(--yellow);
}
